#titulo{
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow:  2px 2px 8px #6c5e5e;
    height:  70px;
    border-top: 0px;
}
#h2kLogo {
    float: left;
}
#uolLogo{
    float: right;
}
