<br>
<br>
<div id="registro">
    <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
                        <div class="alert alert-success fade in" *ngIf="exito" >
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong> Correcto </strong> Los datos ya han sido cambiados.
                        </div>
                        <div class="alert alert-danger fade in" *ngIf="error" >
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>¡Cuidado!</strong> Las contraseñas no coinciden.
                        </div>
                        <form>
                      		<div class="form-group">
                      			<label for="exampleInputFile">Selecciona tu imagen</label> <input type="file"
                      				(change)="selectFile($event)">
                      		</div>
                      		<!-- <button type="submit" class="btn btn-default" (click)="upload()">Submit</button> -->
                      	</form>
                        <form>
                          <div class="form-group">
                              <label for="Nombre">Nueva Nombre</label>
                              <input type="text" class="form-control" id="Nombre" value={{_LoginService.user.name}} #Nombre>
                          </div>
                          <div class="form-group">
                              <label for="Foto">Nueva Fotografía</label>
                              <input type="text" class="form-control" id="Foto" value={{_LoginService.user.foto}} #Foto>
                          </div>
                            <div class="form-group">
                                <label for="InputEmail1">Género</label>
                                <input type="text" class="form-control" id="InputGenero" value={{_LoginService.user.genero}} #Genero>
                            </div>
                            <div class="form-group">
                                <label for="InputEmail1">Correo</label>
                                <input type="email" class="form-control" id="InputEmail1" value={{_LoginService.user.correo}} #Correo>
                            </div>
                            <div id="divPassword" class="form-group">
                                <label for="InputPassword1">*Si no quieres cambiar tu contraseña deja estos campos en blanco*</label>
                                <label for="InputPassword1">Contraseña</label>
                                <input type="password" class="form-control" id="InputPassword1" #Clave1>
                            </div>
                            <div id="divConfirm" class="form-group">
                                <label for="InputPasswordConfirm1">Confirma tu contraseña</label>
                                <input type="password" class="form-control" id="InputPasswordConfirm1" placeholder="Repita la nueva Contraseña" #Clave2>
                            </div>
                            <button type="button" class="btn btn-primary" id="btnEnviar" (click)="editar(_LoginService.user,Nombre.value,Clave1.value, Clave2.value, Foto.value,Correo.value,Genero.value); Nombre.value = ''; Foto.value = ''; Correo.value = ''; Genero.value = ''; Clave1.value = ''; Clave2.value = ''; ">Enviar</button>
                        </form>

                    </div>
                    <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
                        <div class="container-fluid" id="headerRegistro">
                            <img id="imgRegistrar" class="img-rounded" src="img/registroestadio.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
