<header class="main-header">
    <div class="container">
        <a (click)="goToInicio()"><img src="img/logo.png" alt="Logo eSportiumV2"><span class="logo">eSportiumV2</span></a>

        <div class="pull-right">
            <span *ngIf="loginService.isLogged" class="montserrat-text white-text ">Bienvenido {{loginService.user.name}} Karma: {{loginService.user.karma}} &nbsp;<span class="glyphicon glyphicon-star" aria-hidden="true"></span> &nbsp;</span>
            <div class="menu" (click)="actualizar()">
                <div class="montserrat-text uppercase menu-text">Menu</div>
                <div class="menu-icon">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="menu-content">
            <a href="#" class="close-button"><i class="icon ion-ios-close-empty"></i></a>
            <div class="menu-info">
                <h4 class="white-text montserrat-text">eSportiumV2 - Hagan sus apuestas</h4>
                <footer>&copy; eSportiumV2 2016. Todos los derechos reservados.</footer>
            </div>
            <div class="menu-wrapper">
                <nav>
                    <ul class="first-level_menu">
                        <li><a class="cerrar" (click)="goToInicio()"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a></li>
                        <li><a class="cerrar" (click)="goToFinalizados()"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Finalizados</a></li>
                        <li *ngIf="!loginService.isLogged" ><a (click)="actualizar()" href="#" data-toggle="modal" data-target="#login" id="usuarioMenu"><span class="glyphicon glyphicon-user"></span> Acceder</a></li>
                        <li *ngIf="loginService.isAdmin && loginService.isLogged"><a class="cerrar" (click)="goToAdmin()"><span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span> Administración</a></li>
                        <li *ngIf="loginService.isLogged" class="cerrar" ><a class="cerrar" (click)="goToUsuario()"><span class="glyphicon  glyphicon-user" aria-hidden="true"></span> Ver Perfil</a></li>
                        <li *ngIf="loginService.isLogged" class="cerrar" ><a class="cerrar" (click)="logOutSpring()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>


<!--Modal de Log In-->
<div class="modal fade" id="login" role="dialog" aria-labelledby="etiquetaModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div id="tituloAcceso">
                    <img class="logoLogin" src="img/logo.png" />
                    <h3 id="etiquetaModal">Acceso</h3>
                </div>
                <div name="formularioLogIn" class="form-group">
                    <input type="text" name="NombreUsuario" autocomplete="on" placeholder="Usuario" class="form-control" #NombreUsuario>
                    <br/>
                    <input type="password" name="Password" autocomplete="on" placeholder="Contraseña" class="form-control" #Clave>
                    <br/>
                    <!--(click)="login(NombreUsuario.value,Clave.value)" -->
                    <a class="cerrar" data-dismiss="modal" (click)="logInSpring($event,NombreUsuario.value,Clave.value)">
                        <button class="btn btn-primary">¡Acceder!</button>
                    </a>
                    <div class="checkbox checkDerecho">
                        <label>
                            <input type="checkbox" value="">Recordarme
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer-login">
                No eres un miembro aún, registrate <a class="link cerrar"  data-dismiss="modal" (click)="goToRegistro()">aqui.</a>
            </div>
        </div>
    </div>
</div>

    <!--Fin de modal de Log In-->
