<div class="container">

  <br>
  <div class="section-title">
    <h1 class="montserrat-text white-text uppercase">¿Dudas? ¿Problemas?</h1>
    <h3 class="white-text montserrat-text">Aquí encontrarás las preguntas más frecuentes.</h3>
  </div>
  <p class="white-text">Recuerda que si no encuentras la solución a tu problema, siempre puedes contactar con nosotros <a href="contacto.html">aqui</a></p>

  <div class="container">
      <div class="tabs-x tabs-above tab-bordered row">
          <ul class="nav nav-tabs responsive">
              <li class="active" ><a data-toggle="tab" href="#Registro">Registro</a></li>
              <li><a data-toggle="tab" href="#Apuestas">Apuestas</a></li>
              <li><a data-toggle="tab" href="#Directo">Partidos en directo</a></li>
          </ul>
          <div class="tab-content panel responsive">
              <div id="Registro" class="tab-pane fade in active">
                  <p>Ya estoy registrado pero no recuerdo mi contraseña</p>
                  <blockquote>
                      <p>Haz click en el botón *Olvidé mi contraseña* y sigue las instrucciones para resetearla</p>
                  </blockquote>
                  <p>No puedo registrarme</p>
                  <blockquote>
                      <p>Asegúrate de que el correo electrónico que estás intentando usar no tenga ya una cuenta creada. Si el problema persiste, contacta con nosotros</p>
                  </blockquote>
              </div>
              <div id="Apuestas" class="tab-pane fade">
                  <p>Mi apuesta no aparece</p>
                  <blockquote>
                      <p>Calma, nuestro ejército de Bots a veces se satura y tienes que esperar un poco más de lo normal para que tu apuesta sea efectiva</p>
                  </blockquote>
                  <p>¿Puedo retirar una apuesta?</p>
                  <blockquote>
                      <p>Claro, siempre y cuando sea antes de que el partido haya comenzado :D</p>
                  </blockquote>
              </div>
              <div id="Directo" class="tab-pane fade">
                  <p>El directo no me carga</p>
                  <blockquote>
                      <p>Principalmente este tipo de servicios utiliza la tecnología Flash, por lo que te pedimos que mantengas actualizado este servicio. Por otro lado, asegúrate de que tu conexión a internet es estable.</p>
                  </blockquote>
              </div>
          </div>
      </div>
  </div>
</div>
