<header class="main-header">
    <div class="container">
        <a href="index.html"><img src="img/logo.png" alt="Logo eSportiumV2"><span class="logo">eSportiumV2</span></a>
        <div class="menu">
            <div class="montserrat-text uppercase menu-text">Menu</div>
            <div class="menu-icon">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>

        <div class="menu-content">
            <a href="#" class="close-button"><i class="icon ion-ios-close-empty"></i></a>
            <div class="menu-info">
                <h4 class="white-text montserrat-text">eSportiumV2 - Hagan sus apuestas</h4>
                <footer>&copy; eSportiumV2 2016. Todos los derechos reservados.</footer>
            </div>
            <div class="menu-wrapper">
                <nav>
                    <ul class="first-level_menu">
                        <li><a class="current" href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a></li>
                        <li><a href="finalizados.html"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Finalizados</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#login" id="usuarioMenu"><span class="glyphicon glyphicon-user"></span> Acceder</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
