    <div class="container">


        <div class="left-title no-margin-bottom">
            <h3 class="montserrat-text white-text uppercase"><span class="glyphicon glyphicon-record" aria-hidden="true" style="top:3px"></span> En directo</h3>
        </div>

        <!-- Angular Partidos en directo-->
        <div class="container">
          <div class="tabs-x tabs-above tab-bordered row">
            <ul class="nav nav-tabs responsive">
              <li *ngFor="#juego of juegos; #i = index" (click)="setPruebasDir(juego.id)" [class.active]="i == 0"><a data-toggle="tab" href="#{{juego.id}}">{{juego.nombre}}</a><li>
            </ul>
            <div class="tab-content panel responsive">
              <div *ngFor="#juego of juegos;#ind = index" id="{{juego.id}}" class="tab-pane fade" [class.in]="ind == 0" [class.active]="ind == 0">
                <div class="container">
                  <div class="row">
                    <div *ngFor="#partido of arrayDirtemp; #indpart = index" (click)="goToPartido(partido)" class="col-lg-4 col-md-6 col-sm-6" [class.hidden]="partido.juego != juego.id || partido.estado != 'Directo'">
                      <h2 *ngIf="isVacio(arrayDirtemp)">No hay partidos </h2>
                        <div id="partido{{partido.id}}">
                        <a>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img class="img-responsive" alt="{{partido.eq1}}" src="img/{{partido.logo1}}.png">
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img class="img-responsive" alt="{{partido.eq2}}" src="img/{{partido.logo2}}.png">
                          </div>
                          <center>
                            <h1><span *ngIf="partido.ganando == 'eq1'" class="glyphicon glyphicon-triangle-top" style="top:3px"></span>
                               {{partido.diferencia}}
                               <span><img src="img/moneyicon.png"></span>
                               <span *ngIf="partido.ganando == 'eq2'" class="glyphicon glyphicon-triangle-top" style="top:3px"></span>
                            </h1>
                          </center>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- /Angular -->

        <!-- Proximos -->

        <div class="left-title no-margin-bottom">
            <h3 class="montserrat-text white-text uppercase"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="top:3px"></span> Próximos partidos</h3>
        </div>
        <div class="container">
          <div class="tabs-x tabs-above tab-bordered row">
            <ul class="nav nav-tabs responsive">
              <li *ngFor="#juego of juegos; #i = index" (click)="setPruebasProx(juego.id)" [class.active]="i == 0"><a data-toggle="tab" href="#{{juego.id}}prox">{{juego.nombre}}</a><li>
            </ul>
            <div class="tab-content panel responsive">
              <div *ngFor="#juego of juegos;#ind = index" id="{{juego.id}}prox" class="tab-pane fade" [class.in]="ind == 0" [class.active]="ind == 0">
                <div class="container">
                  <div class="row">
                    <div *ngFor="#partido of arrayFintemp; #indpart = index" class="col-lg-4 col-md-6 col-sm-6" [class.hidden]="partido.juego != juego.id || partido.estado != 'Proximamente'">
                      <h2 *ngIf="isVacio(arrayFintemp)" >No hay partidos</h2>
                      <div id="partido{{partido.id}}">
                        <a href="partido-finalizado.html">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img class="img-responsive" alt="{{partido.eq1}}" src="img/{{partido.logo1}}.png">
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img class="img-responsive" alt="{{partido.eq2}}" src="img/{{partido.logo2}}.png">
                          </div>
                          <center>
                            <h1><span *ngIf="partido.ganando == 'eq1'" class="glyphicon glyphicon-triangle-top" style="top:3px"></span>
                               {{partido.diferencia}}
                               <span><img src="img/moneyicon.png"></span>
                               <span *ngIf="partido.ganando == 'eq2'" class="glyphicon glyphicon-triangle-top" style="top:3px"></span>
                            </h1>
                          </center>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
