<br>
<div class="container-fluid">
        <div class="panel panel-default" id="apuesta">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#login">Apostar</button>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 col-sm-offset-1  col-xs-offset-1 muestra">
                                {{partido.eq1}}
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class=" btn btn-info no-pointer">70%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-2 muestra">{{partido.rondas}}</div>
                    <div class="col-md-3 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#login">Apostar</button>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 col-xs-offset-1 col-sm-offset-1 muestra">
                                {{partido.eq2}}
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="btn btn-info no-pointer">30%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{partido.url}}" allowfullscreen></iframe>
                </div>
                <br>
            </div>
            <div class="col-md-4">
                <div class="form-control" id="chat"></div>
                <br>
                <div class="row">
                    <div class="col-md-8 col-sm-10 col-xs-6">
                        <input class="form-control input-lg" rows="1" id="chat-input">
                    </div>
                    <div class="col-md-4 col-sm-2 col-xs-4">
                        <button type="button" class="btn btn-primary" id="enviar">Enviar</button>
                    </div>
                </div>
                <br>
            </div>

        </div>

        <div class="row" id="informacion-jugadores">
            <div class="col-md-5 col-sm-6">
                <div class="section-title">
                    <h2 class="big-title">{{partido.eq1}}</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Invocador</th>
                                <th>Posición</th>
                                <th>KDA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="#jug of partido.jug1">
                                <th>{{jug.nombre}}</th>
                                <th>{{jug.posicion}}</th>
                                <th>{{jug.kda}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2 col-sm-6">
                <div class="section-title">
                    <h2 class="big-title">{{partido.eq2}}</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Invocador</th>
                                <th>Posición</th>
                                <th>KDA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="#jug of partido.jug2">
                                <th>{{jug.nombre}}</th>
                                <th>{{jug.posicion}}</th>
                                <th>{{jug.kda}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>