<footer class="main-footer-a footer-margin">
    <div class="container">
        <div class="col-md-2">
            <a (click)="goToInicio()"><img src="img/logo.png" alt="Logo eSportiumV2"></a>
        </div>
        <div class="col-md-7">
            <div class="row">
                <nav>
                    <ul>
                        <li><a (click)="goToSobre()" class="link">Sobre Nosotros</a></li>
                        <li><a (click)="goToFAQ()" class="link">Preguntas Frecuentes</a></li>
                        <li><a (click)="goToContacto()" class="link">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-3">
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100011773530946&fref=ts" class="social-icon__"><i class="icon ion-social-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCcao_1K-Nz7QfimvZwBlMdw" class="social-icon__"><i class="icon ion-social-youtube"></i></a>
                <a href="https://twitter.com/esportiumv2" class="social-icon__"><i class="icon ion-social-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
