
  <br>
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-5 col-sm-offset-0 col-xs-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body"><img class="img-responsive" src="../img/{{sesion.foto}}"></div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="left-title">
                    <h2 class="big-title montserrat-text white-text">{{sesion.name}}</h2>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">Miembro desde {{sesion.fecha | date:'d'}}/{{sesion.fecha | date:'M'}}/{{sesion.fecha | date:'y'}}</li>
                    <li class="list-group-item">Número de apuestas realizadas: {{sesion.apuestas.length}}</li>
                    <li class="list-group-item">Género: {{sesion.genero}}</li>
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-9 col-md-9">
                    <div class="left-title no-margin-bottom">
                        <h3 class="montserrat-text white-text uppercase">Apuestas</h3>
                    </div>
                    
                    <div class="tabs-x tabs-above tab-bordered">
                        <ul class="nav nav-tabs small-text responsive" role="tablist">
                            <li class="active"><a href="#actuales" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-record"></i> Actuales</a></li>
                            <li><a href="#terminadas" role="tab-kv" data-toggle="tab"><i class="glyphicon glyphicon-hourglass"></i>
                    Finalizadas</a></li>
                        </ul>
                        <div class="tab-content panel responsive">
                            <div class="tab-pane fade in active darker-text" id="actuales">
                                <h3 *ngIf="sesion.apuestas.length === 0"  class="alert alert-warning"><center>No hay apuestas activas.</center></h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" *ngFor="#partido of partidoAc" (click)="goToPartido(partido)">
                                        <div>
                                            <a>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <img class="img-responsive" alt="{{partido.eq1}}" src="img/{{partido.logo1}}.png">
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <img class="img-responsive" alt="{{partido.eq2}}" src="img/{{partido.logo2}}.png">
                                                    </div>
                                                </div>
                                                <p class="blue-text">Apostado: {{getApuesta(partido.id)}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="tab-pane fade darker-text" id="terminadas">
                                <h3 *ngIf="sesion.finalizados.length === 0"  class="alert alert-warning"><center>No hay apuestas activas.</center></h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" *ngFor="#partido of partidoFin" (click)="goToPartido(partido)">
                                        <div>
                                            <a>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <img class="img-responsive" alt="{{partido.eq1}}" src="img/{{partido.logo1}}.png">
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <img class="img-responsive" alt="{{partido.eq2}}" src="img/{{partido.logo2}}.png">
                                                    </div>
                                                </div>
                                                <p class="blue-text">ID : {{partido.id}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="left-title no-margin-bottom">
                    <h3 class="montserrat-text white-text uppercase">Karma</h3>
                </div>
                <div class="karma btn-success no-pointer">{{sesion.karma}} puntos</div>
                <div class="left-title no-margin-bottom">
                    <h3 class="montserrat-text white-text uppercase">Comentarios</h3>
                </div>
                <ul class="list-group" id="comentado">
                    <li class="list-group-item">
                        <p>Admin: Bienvenido a eSportiumV2</p><span class="small-text">20/03/16</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-9 col-xs-7">
                        <input class="form-control" rows="1" id="comment">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <button type="button" class="btn btn-primary" id="enviar">Comentar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>