<br>
<div class="container-fluid">
        <!-- Left side column. contains the logo and sidebar -->

                <!-- sidebar: style can be found in sidebar.less -->
                <div class="row">
                  <div class="sidebar col-md-3">
                      <h5 class="uppercase montserrat-text">Administración</h5>
                      <!-- Sidebar Menu -->
                      <nav class="link-list">
                          <ul>
                              <li><a (click)="gotoHome()"><i class="fa fa-home"></i> <span>Home</span></a></li>
                              <li><a (click)="gotoGestionEquipos()"><i class="fa fa-shield"></i> <span>Equipos</span></a></li>
                              <li><a (click)="gotoGestionJugadores()"><i class="fa fa-users"></i> <span>Jugadores</span></a></li>
                              <li><a (click)="gotoGestionJuegos()"><i class="fa fa-gamepad"></i> <span>Juegos</span></a></li>
                              <li><a (click)="gotoGestionPartidos()"><i class="fa fa-book"></i> <span>Partidos</span></a></li>
                              <li><a (click)="gotoGestionUsuarios()"><i class="fa fa-users"></i> <span>Usuarios</span></a></li>
                              <li><a (click)="gotoAjustes()"><i class="fa fa-cogs"></i> <span>Ajustes</span></a></li>
                          </ul>
                      </nav>
                  </div>

                    <!-- /.sidebar -->
                    <div class="col-md-8 col-md-offset-1">
                        <div class="row">

           <!-- Content Header (Page header) -->
            <div class="content-header">
                <h3 class="montserrat-text white-text uppercase no-margin-top">
            Gestión de partidos
            <small>Agrega, edita o elimine partidos.</small>
          </h3>
                <ol class="breadcrumb">
                    <li><a (click)="gotoHome()"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Gestionar Partidos</li>
                </ol>
            </div>

            <!-- Main content -->
            <section class="content no-margin-top">
                <div class="pull-right">
                    <a (click)="gotoAddPartido()">
                        <button type="button" class="btn btn-primary"><span class="fa fa-plus-circle"> </span> &nbsp; Nuevo Partido</button>
                    </a>
                    <br>
                    <br/>
                </div>
                <table class="table table-bordered table-striped" style="background-color: white !important;">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Partido</th>
                            <th>Juego</th>
                            <th>Apuestas %</th>
                            <th>Condición Vic.</th>
                            <th>Edición</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="#partido of partidos">
                          <td>{{partido.estado}}</td>
                          <td>{{partido.equipo1.nombre}} vs {{partido.equipo2.nombre}}</td>
                          <td>{{partido.juego.nombre}}</td>
                          <td>{{partido.diferencia}}</td>
                          <td>{{partido.rondas}}</td>
                          <td>
                                <a (click)="gotoEditPartido(partido)" class="fa fa-pencil">Editar</a><br>
                                <a (click)="borrarPartido(partido)" class="glyphicon glyphicon-remove">Eliminar</a><br>
                                <a [class.hidden]="partido.estado != 'Proximamente'" (click)="aDirecto(partido)" class="glyphicon glyphicon-record">Directo</a><br>
                                <label [class.hidden]="partido.estado != 'Directo'">Finalizar :</label><br>
                                <button [class.hidden]="partido.estado != 'Directo'" (click)="finalizarPartido(partido,'eq1')">{{partido.equipo1.nombre}}</button>
                                <button [class.hidden]="partido.estado != 'Directo'" (click)="finalizarPartido(partido,'eq2')">{{partido.equipo2.nombre}}</button>
                                <!--<input [class.hidden]="partido.estado != 'Directo'" name="ganador{{partido.id}}" type="radio"
                                     ng-model="ganadorN"
                                     (click)="ganadorN = 'eq1'"
                                     [checked]="ganadorN == 'eq1'"/><span [class.hidden]="partido.estado != 'Directo'">{{partido.equipo1.nombre}}</span>
                                <input [class.hidden]="partido.estado != 'Directo'" name="ganado{{partido.id}}" type="radio"
                                   ng-model="ganadorN"
                                   (click)="ganadorN = 'eq2'"
                                   [checked]="ganadorN == 'eq2'"/> <span [class.hidden]="partido.estado != 'Directo'">{{partido.equipo2.nombre}}</span>-->
                            </td>

                            <!--<div class="modal fade" id="elegirGanador{{partido.equipo1.nombre}}{{partido.equipo2.nombre}}" role="dialog" aria-labelledby="etiquetaModal">
                              <div class="modal-dialog modal-sm">
                                  <div class="modal-content">
                                      <div class="modal-body">
                                        <select class="form-control" [(ngModel)]="ganadorN" (change)="ganadorAdd($event.target.value)" style="width: 100%;" #ganador>
                                            <option value="eq1">{{partido.equipo1.nombre}}</option>
                                            <option value="eq2">{{partido.equipo2.nombre}}</option>
                                        </select>
                                          <br>
                                          <br>
                                          <div class="row">
                                              <div class="col-md-7 col-sm-7 col-xs-7">
                                                  <button class="btn btn-primary btn-sp" data-dismiss="modal" (click)="finalizarPartido(partido)">Seleccionar</button>
                                              </div>
                                              <div class="col-md-4 col-sm-4 col-xs-4">
                                                  <button class="btn btn-danger btn-sp" data-dismiss="modal">Cancelar</button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>-->
                        </tr>
                    </tbody>
                </table>

            </section>
            <!-- /.content -->


                            </div>
                        </div>
                    </div>

</div>
